name: Create Release and Publish

on:
  workflow_dispatch:

jobs:
  release-and-publish:
    name: Release and Publish
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 22
      - run: yarn install
      # - run: yarn test
      - run: npm install -g vsce
      - run: vsce package
      - run: |
          $path = (Get-ChildItem '*.vsix')
          $name = (Split-Path (Get-Item -Path '*.vsix') -leaf)
          "VSIX_PATH=$path" >> $env:GITHUB_ENV
          "VSIX_NAME=$name" >> $env:GITHUB_ENV
          $json = (Get-Content 'package.json' | ConvertFrom-Json)
          $version = $json.version
          "VERSION=v$version" >> $env:GITHUB_ENV
      - name: Create or update Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.VERSION }}
          name: "Release ${{ env.VERSION }}"
          body: "See [Change Log](https://github.com/waldo1001/crs-al-language-extension/blob/master/CHANGELOG.md) for details."
          allowUpdates: true
          artifacts: "${{ env.VSIX_PATH }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # artifact upload is handled by ncipollo/release-action via the `artifacts` input
      - run: vsce publish -p ${{ secrets.VSCE_TOKEN }}
